Repository Kappele/Kaeppele: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
    "*.{ts,html}": "eslint --fix",
    "*.{ts,js,html,css,json,md}": "prettier --write"
}

added all linter and pretifyer rules
  .eslintrc.json
  .lintstagedrc.json
  .prettierrc
  .vscode/settings.json
  package-lock.json
  package.json
Due: prettier --write

apply linter and pret rules
  .vscode/launch.json
  apps/api/README.md
  apps/api/src/app/countdown/countdown.controller.spec.ts
  apps/api/src/app/countdown/countdown.controller.ts
  apps/api/src/main.ts
  apps/kaeppele-view-e2e/cypress.config.ts
  apps/kaeppele-view-e2e/src/support/commands.ts
  apps/kaeppele-view/.eslintrc.json
  apps/kaeppele-view/project.json
  apps/kaeppele-view/src/app/app.component.css
  apps/kaeppele-view/src/app/app.component.html
  apps/kaeppele-view/src/app/app.component.spec.ts
  apps/kaeppele-view/src/app/app.component.ts
  apps/kaeppele-view/src/app/app.module.ts
  decorate-angular-cli.js
  global.d.ts
  libs/client/.eslintrc.json
  libs/client/src/index.ts
  libs/client/src/lib/api/_shared/api.service.ts
  libs/client/src/lib/api/apiRoutes.ts
  libs/client/src/lib/api/countdown/countdown.service.ts
  libs/client/src/lib/client.module.ts
  libs/client/tsconfig.lib.json
  libs/common-ui/.eslintrc.json
  libs/common-ui/project.json
  libs/common-ui/src/index.ts
  libs/common-ui/src/lib/common-ui.module.ts
  libs/common-ui/src/lib/countdown/countdown.component.html
  libs/common-ui/src/lib/countdown/countdown.component.ts
  libs/common-ui/tsconfig.lib.json
  libs/shared/core/.eslintrc.json
  libs/shared/core/project.json
  libs/shared/core/src/lib/shared-core.module.ts
  libs/shared/core/tsconfig.lib.json
  libs/shared/interfaces/.eslintrc.json
  libs/shared/interfaces/project.json
  libs/shared/interfaces/src/lib/shared-interfaces.module.ts
  libs/shared/interfaces/tsconfig.lib.json
Due: eslint --fix, prettier --write

added some linter exceptions
  .eslintrc.json
  libs/client/src/lib/api/apiRoutes.ts
  libs/client/src/lib/api/countdown/countdown.service.ts
Due: eslint --fix, prettier --write

change readme
  apps/api/README.md
Due: prettier --write

change readme (#2)
  apps/api/README.md
Due: prettier --write

added ci
  .github/workflows/ci.yml
  nx.json
  package-lock.json
  package.json
Due: prettier --write

main instead of master
  .github/workflows/ci.yml
Due: none

not working commit
  libs/client/src/lib/api/countdown/countdown.service.spec.ts
Due: eslint --fix, prettier --write

fixed error for CI
  libs/client/src/lib/api/countdown/countdown.service.spec.ts
Due: eslint --fix, prettier --write

Create README.md
  README.md
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

changed readme
  README.md
Due: prettier --write
